
.Feed-container{
    width: 100%;
    margin-top: 12px;
    justify-content: center;
    height: 100vh;
    background-color: #5993dfea;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: "100%";
    justify-content: "center";
    height : "100vh";
    background-color: "#8e44ad";
    display: "flex";
    flex-direction: "column";
    align-items: "center"; */
}
.Feed-container > h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6rem;
    margin-top: 100px; 
    position: relative;
    top: -83px;
}


.Feed-container> input{
    width: 50%;
    padding: 10px,20px;
    outline: none;
    border: none;
    margin: 20px, 0;
    text-align: center;
    width: "50%";
    margin: "20px";
    position: relative;
    top: -19px;
   
    left: -25px;
    text-align: "center";
}
.feed-button{
    background-color: "#9b59b6";
     color : "black";
     border: "2px solid #ecf0f1";
     outline:"none";
     border-radius: 5;
     text-transform:"uppercase";
     cursor:"pointer";
}
textArea {
    margin :25px; 
    width : 50%;
    height: 25%;
   font-size: large;
    position: relative;
}