/* *{
  margin : 0;
  padding: 0;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(234, 239, 240);
} */

header {
  padding: 10px 100px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

section.sec1 {
  background: url("../Img/BondsMain.jpg");
  background-size:cover;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
  height: auto;
}

section.sec2 h2 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 20px 20px;
  color: rgb(0, 0, 0);
}

section.sec2 p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: rgb(82, 20, 20);
}

section.sec3 {
  background: url("../Img/high\ returns\ new\ TM.jpg");
  background-size: cover;
}

nav {
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: calc(21,12);
  width: 100%;
  height: 70px;
  bottom: 20px;
  /* background: rgba(61, 63, 65, 0.8); */
  border-top: 5px solid rgba(255,255,255, .2);
  border-bottom: 5px solid rgba(255,255,255, .2);
  padding: 20px;
  position: sticky;
  opacity: 999;
  top: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  /* background: rgba(61, 63, 65, 0.8); */
  background: #292c2f;
  width: 100%;
  flex-direction: row;
 
  margin: 0;
  padding: 0 100px;
  justify-content: flex-end;
  position: relative;
  top: -28px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: #5383d3;
  color: black;
  
} 

@media (max-width   :360px) {
  nav ul{
    z-index: -1;
    font-size: 1.5rem;
  }
}


